<div class="header" id="myHeader">
  <h2>My Header</h2>
</div>
<div class="filter">
    <p>filter page baby! -- honestly can change filter options in public/js and then send formulated req to server</p>
</div>