<div>
    {{#if logged}}
    <div id="login-user">
        <p>user is logged in, put buttons here</p>
    </div>
    {{else}}
    <div id="first-time-user">
        <p>user is not logged in, place login button</p>
    </div>
    {{/if}}
    <div class="feed">
        <p>feed1...</p>
        <p>feed2...</p>
        <p>here would be handlebars display links</p>
    </div>
</div>