<div class="header" id="myHeader">
  <div class="home">
    <h2><a href = '/home'>Home</a></h2>
  </div>
  <div class="filter">
    <h2><a href = '/filters'>Filters</a></h2>
  </div>
  <div class="login">
    {{#if logged}}
        <h2><a href = '/login'>{{username}}</a></h2>
    {{else}}
        <h2><a href = '/login'>Log in</a></h2>
    {{/if}}
  </div>
</div>
<div class="content">
        <p>Welcome to PSLite!</p>
        <p>feed1...</p>
        <p>feed2...</p>
        <p>here would be handlebars display links</p>
</div>