<div class="user-profile">
    <div class="box1">
        <p>user profile</p>
    </div>
    <div class="box2">
        <p>more handlebars stuff, must also give option to edit</p>
    </div>
</div>