<div class="header" id="myHeader">
  <span id = "spacer"></span>
  <div class="home">
    <h2><a href = '/home/'>Home</a></h2>
  </div>
  <span id = "spacer"></span>
  <div class="filter">
    <h2><a href = '/filters/'>Filters</a></h2>
  </div>
  <span id = "spacer"></span>
  <div class = "Files">
    <h2><a href = '/image/'>Files</a></h2>
  </div>
  <span id = "spacer"></span>
  <div class="login">
    {{#if logged}}
        <h2><a href = '/profile/'>{{username}}</a></h2>
    {{else}}
        <h2><a href = '/profile/'>Log in</a></h2>
    {{/if}}
  </div>
  <span id = "spacer"></span>
</div>
<div class="content">
	{{#if logged}}
        <div>
    <form action="/image" enctype="multipart/form-data" method="POST"> 
   <input type="file" name="image" accept="image/*" required/>
   <br>
   <input type="text" name="name" placeholder="Enter File name" required>
   <br>
   <input type="text" name="desc" placeholder="Enter description" required>
   <select>
     <option value="jpg">JPG</option>
     <option value="png">PNG</option>
     </select>
   <input type="submit" value="Upload a file"/>
    </form>
</div>
    {{else}}
    <p>Please log in to upload a file!</p>
    {{/if}}
</div>
<div>
  <img width="100" height="200" src="/public/images/{{pics}}"><!--My attempt at printing the image-->
  <img width="100" height="200" src="/public/images/image.jpg">
</div>



