body {
  font-size: 14pt;
}

/* Style the header */
.header {
  background-image: linear-gradient(to bottom right, red, grey);
  display: flex;
  flex-direction: row;
  width: 100%;
  font-family: "Arial", serif;
}

#spacer{
  flex: 1;
}

/* Page content */
.content {
  padding: 16px;
}

.login-form{
  float: left;
  width: 50%;
}

.registration-form{
 float: left;
  width: 50%; 
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.welcome{
  font-family: "Arial", serif;
  text-align: center;
  font-size: 32px;
}

.form-header{
  font-family: "Arial", serif;
  text-align: left;
  font-size: 20px;
}

.error{
  color: red;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}